/*
Theme Name: Illdy
Theme URI: http://colorlib.com/wp/themes/illdy/
Author: Colorlib
Author URI: http://colorlib.com
Description: Illdy is a stunning multipurpose WordPress theme built based on Bootstrap frontend framework making it fully responsive and mobile friendly. This theme is well suited for business, landing page, portfolio or any other creative websites. This leaves heavy lifting to WordPress Customizer therefore you can create your website on live preview mode. Which means that you can see changes happen on your website in real time as you make them
Version: 2.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, e-commerce, portfolio
Text Domain: illdy

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

#about .section-header {
	margin-bottom: 0;
}
#about .widget_illdy_skill{
	display: none;
}
#blog .blog-post .blog-post-title{
	display: none;
}
#header h1 span{
	text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	color: #e8f1ff;
}

@media screen and (max-width: 699px) {
	#header .bottom-header h1{
		font-size: 4rem;
	}
}